body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: #3d3a3a;
  color: #fff;
}

#logo {
  width: 200px;
}

.main-button {
  background-color: #ff5757;
  color: #fff;
  font-weight: bold;
  border: #ff5757;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}

.action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button:hover {
  background-color: #b71f1f;
  color: #fff;
}

input {
  color: #fff;
  background-color: rgba(245, 245, 245, 0);
  width: 300px;
  padding: 8px;
  border: 0px;
  border-bottom: solid 1px #ff5757;
}

#input_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.table-title {
  font-style: italic;
}

.tabular-wrapped {
  flex: 1;
  max-width: 400px;
  background-color: #fff5;
  border-radius: 15px;
  padding: 2rem;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tables-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

thead {
  background-color: #ff5757;
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background-color: #ffffffc8;
}

td {
  padding: 15px;
  text-align: left;
  font-size: 12px;
  color: rgb(61, 58, 58);
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7);
}

tbody tr:last-child {
  border-bottom: none;
}

.player-info {
  margin: 0px 5px 5px 5px;
}

.button-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
}

.circle {
  background-color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  border-radius: 100%;
  z-index: 1000;
}

#level {
  position: absolute;
  align-items: center;
  color: black;
  font-size: 50px;
  font-weight: bold;
  z-index: 1000;
}

.color-button {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#red_button {
  background-color: #ff5757;
  border-top-left-radius: 100%;
  margin: 3px;
}
#green_button {
  background-color: #90cb71;
  border-top-right-radius: 100%;
  margin: 3px;
}
#blue_button {
  background-color: #385ad4;
  border-bottom-left-radius: 100%;
  margin: 3px;
}
#yellow_button {
  background-color: #ffee80;
  border-bottom-right-radius: 100%;
  margin: 3px;
}

.highlight {
  box-shadow: 0 0 20px 5px rgb(214, 214, 4);
}

.active {
  box-shadow: 0 0 20px 5px #ffee80;
}

.active-click {
  box-shadow: 0 0 20px 5px #ff5757;
}

.red_button.active,
.red_button.active-click {
  box-shadow: 0 0 20px 5px #ff5757;
  z-index: -1;
}

.green_button.active,
.green_button.active-click {
  box-shadow: 0 0 20px 5px #90cb71;
  z-index: -1;
}

.blue_button.active,
.blue_button.active-click {
  box-shadow: 0 0 20px 5px #385ad4;
  z-index: -1;
}

.yellow_button.active,
.yellow_button.active-click {
  box-shadow: 0 0 20px 5px #ffee80;
  z-index: -1;
}
